<div class="needs-validation" novalidate="">
    <div class="mb-4">
        <label class="form-label" for="signup-name">First Name</label>
        <input #nameModel="ngModel" [(ngModel)]="name" class="form-control" type="text" id="signup-name" placeholder="Enter your first name" required="">
        <div class="form-text text-danger" *ngIf="nameModel.touched && nameModel.errors?.['required']">
            Cannot leave field empty.
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label" for="signup-surname">Last Name</label>
        <input #surnameModel="ngModel" [(ngModel)]="surname" class="form-control" type="text" id="signup-surname" placeholder="Enter your surname" required="">
        <div class="form-text text-danger" *ngIf="surnameModel.touched && surnameModel.errors?.['required']">
            Cannot leave field empty.
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label" for="signup-cell">Phone Number</label>
        <input #phoneModel="ngModel" [(ngModel)]="phone" class="form-control" type="number" id="signup-cell" placeholder="Enter your phone number" required="">
        <div class="form-text text-danger" *ngIf="phoneModel.touched && phoneModel.errors?.['required']">
            Cannot leave field empty.
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label" for="signup-email">Email address</label>
        <input #emailModel="ngModel" [(ngModel)]="email" class="form-control" type="email" id="signup-email" placeholder="Enter your email" required="">
        <div class="form-text text-danger" *ngIf="emailModel.touched && emailModel.invalid">
            Email address required..
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label" for="signup-password">Password <span class="fs-sm text-muted">min. 8 char</span></label>
        <div class="password-toggle">
            <input #passwordModel="ngModel" [(ngModel)]="password" class="form-control" type="password" id="signup-password" minlength="8" required="">
            <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
          </label>
        </div>
        <div class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        </div>

        <div class="form-text text-danger" *ngIf="passwordModel.touched && passwordModel.errors?.['required']">
            Cannot leave field empty.
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label" for="signup-password-confirm">Confirm password</label>
        <div class="password-toggle">
            <input #c_passwordModel="ngModel" [(ngModel)]="c_password" class="form-control" type="password" id="signup-password-confirm" minlength="8" required="">
            <label class="password-toggle-btn" aria-label="Show/hide password">
              <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
            </label>
        </div>
        <div class="form-text text-danger" *ngIf="c_passwordModel.touched && c_passwordModel.errors?.['required']">
            Cannot leave field empty.
        </div>
        <div class="form-text text-danger" *ngIf="passwordModel.touched && password != c_password">
            Passwords do not match.
        </div>
    </div>
    <div class="form-check mb-4">
        <input #agreeModel="ngModel" [(ngModel)]="agree" class="form-check-input" type="checkbox" id="agree-to-terms" required="">
        <label class="form-check-label" for="agree-to-terms">By joining, I agree to the <a href="#">Terms of use</a> and <a href="#">Privacy policy</a></label>
    </div>
    <button (click)="register()" *ngIf="!submitted" [disabled]="nameModel.invalid || surnameModel.invalid ||
    phoneModel.invalid || emailModel.invalid || passwordModel.invalid ||
    password != c_password || agree != true" class="btn btn-primary btn-lg w-100" type="submit">Sign up</button>
    <button *ngIf="submitted" type="button" class="btn btn-primary btn-lg w-100" disabled>
      <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
      Loading...
    </button>
</div>