<div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
    <!-- Breadcrumb-->
    <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Account</li>
        </ol>
    </nav>
    <!-- Page content-->
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
            <!-- Account nav-->
            <app-account-nav></app-account-nav>
        </aside>

        <div class="col-lg-8 col-md-7 mb-5">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h1 class="h2 mb-0">My Properties</h1><a class="fw-bold text-decoration-none" href="#"><i class="fi-trash mt-n1 me-2"></i>Delete all</a>
            </div>
            <p class="pt-1 mb-4">Here you can see your property offers and edit them easily.</p>

            <!-- Nav tabs-->
            <ul class="nav nav-tabs border-bottom mb-4 justify-content-center" role="tablist">
                <li class="nav-item">
                    <a href="#published" class="nav-link active" data-bs-toggle="tab" role="tab">
                        <i class="fi-home me-2"></i> Published
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#pending" class="nav-link" data-bs-toggle="tab" role="tab">
                        <i class="fi-user me-2"></i> Pending
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#paid" class="nav-link" data-bs-toggle="tab" role="tab">
                        <i class="fi-user me-2"></i> Paid
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="published" role="tabpanel">
                    <!-- Item-->
                    <div *ngFor="let estate of published" class="card card-hover card-horizontal border-0 shadow-sm mb-4">
                        <a class="card-img-top" [routerLink]="[ '/catalog/estate', estate.id ]" style="background-image: url(http://127.0.0.1:8000{{estate.images[0].image}});">
                            <div class="position-absolute start-0 top-0 pt-3 ps-3 d-none"><span class="d-table badge bg-info">New</span></div>
                        </a>
                        <div class="card-body position-relative pb-3">
                            <div class="dropdown position-absolute zindex-5 top-0 end-0 mt-3 me-3">
                                <button class="btn btn-icon btn-light btn-xs rounded-circle shadow-sm" type="button" id="contextMenu1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fi-dots-vertical"></i></button>
                                <ul class="dropdown-menu my-1" aria-labelledby="contextMenu1">
                                    <li>
                                        <a class="dropdown-item" [routerLink]="['/catalog/estate', estate.id, 'edit']"><i class="fi-edit opacity-60 me-2"></i>Edit</a>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button" (click)="deletePost(estate.id)"><i class="fi-trash opacity-60 me-2"></i>Delete</button>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">{{estate.category.category}}</h4>
                            <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" [routerLink]="[ '/catalog/estate', estate.id ]">{{estate.title}}</a></h3>
                            <p class="mb-2 fs-sm text-muted">{{estate.province.province}}, {{estate.city}}</p>
                            <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>R {{estate.price}}</div>
                            <div class="d-flex align-items-center justify-content-center justify-content-sm-start border-top pt-3 pb-2 mt-3 text-nowrap">
                                <span class="d-inline-block me-4 fs-sm">{{estate.bedroom}}<i class="fi-bed ms-1 mt-n1 fs-lg text-muted"></i></span>
                                <span class="d-inline-block me-4 fs-sm">{{estate.bathroom}}<i class="fi-bath ms-1 mt-n1 fs-lg text-muted"></i></span>
                                <span class="d-inline-block fs-sm">{{estate.parking}}<i class="fi-car ms-1 mt-n1 fs-lg text-muted"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pending" role="tabpanel">
                    <!-- Item-->
                    <div *ngFor="let estate of pending" class="card card-hover card-horizontal border-0 shadow-sm mb-4">
                        <a class="card-img-top" [routerLink]="[ '/catalog/estate', estate.id ]" style="background-image: url(http://127.0.0.1:8000{{estate.images[0].image}});">
                            <div class="position-absolute start-0 top-0 pt-3 ps-3 d-none"><span class="d-table badge bg-info">New</span></div>
                        </a>
                        <div class="card-body position-relative pb-3">
                            <div class="dropdown position-absolute zindex-5 top-0 end-0 mt-3 me-3">
                                <button class="btn btn-icon btn-light btn-xs rounded-circle shadow-sm" type="button" id="contextMenu1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fi-dots-vertical"></i></button>
                                <ul class="dropdown-menu my-1" aria-labelledby="contextMenu1">
                                    <li>
                                        <a class="dropdown-item" [routerLink]="['/catalog/estate', estate.id, 'edit']"><i class="fi-edit opacity-60 me-2"></i>Edit</a>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button" (click)="deletePost(estate.id)"><i class="fi-trash opacity-60 me-2"></i>Delete</button>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">{{estate.category.category}}</h4>
                            <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" [routerLink]="[ '/catalog/estate', estate.id ]">{{estate.title}}</a></h3>
                            <p class="mb-2 fs-sm text-muted">{{estate.province}}, {{estate.city}}</p>
                            <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>R {{estate.price}}</div>
                            <div class="d-flex align-items-center justify-content-center justify-content-sm-start border-top pt-3 pb-2 mt-3 text-nowrap">
                                <span class="d-inline-block me-4 fs-sm">{{estate.bedroom}}<i class="fi-bed ms-1 mt-n1 fs-lg text-muted"></i></span>
                                <span class="d-inline-block me-4 fs-sm">{{estate.bathroom}}<i class="fi-bath ms-1 mt-n1 fs-lg text-muted"></i></span>
                                <span class="d-inline-block fs-sm">{{estate.parking}}<i class="fi-car ms-1 mt-n1 fs-lg text-muted"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="paid" role="tabpanel">
                    <!-- Item-->
                    <div *ngFor="let estate of paid" class="card card-hover card-horizontal border-0 shadow-sm mb-4">
                        <a class="card-img-top" [routerLink]="[ '/catalog/estate', estate.id ]" style="background-image: url(http://127.0.0.1:8000{{estate.images[0].image}});">
                            <div class="position-absolute start-0 top-0 pt-3 ps-3 d-none"><span class="d-table badge bg-info">New</span></div>
                        </a>
                        <div class="card-body position-relative pb-3">
                            <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">{{estate.category.category}}</h4>
                            <h3 class="h6 mb-2 fs-base">
                                <a class="nav-link stretched-link" [routerLink]="[ '/catalog/estate', estate.id ]">{{estate.title}}</a></h3>
                            <p class="mb-2 fs-sm text-muted">{{estate.province}}, {{estate.city}}</p>
                            <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>R {{estate.price}}</div>
                            <div class="d-flex align-items-center justify-content-center justify-content-sm-start border-top pt-3 pb-2 mt-3 text-nowrap">
                                <span class="d-inline-block me-4 fs-sm">{{estate.bedroom}}<i class="fi-bed ms-1 mt-n1 fs-lg text-muted"></i></span>
                                <span class="d-inline-block me-4 fs-sm">{{estate.bathroom}}<i class="fi-bath ms-1 mt-n1 fs-lg text-muted"></i></span>
                                <span class="d-inline-block fs-sm">{{estate.parking}}<i class="fi-car ms-1 mt-n1 fs-lg text-muted"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>