<footer class="footer bg-secondary pt-5">
    <div class="container pt-lg-4 pb-4">
        <!-- Links-->
        <div class="row mb-5 pb-md-3 pb-lg-4">
            <div class="col-lg-10 offset-lg-1 mb-lg-0 mb-4">
                <div class="d-flex flex-sm-row flex-column justify-content-between mx-n2">
                    <div class="mb-sm-0 mb-4 px-2">
                        <a class="d-inline-block mb-4" [routerLink]="['/home']"><img src="../../../assets/img/logo/1675155660038.png" width="150" alt="logo"></a>
                        <ul class="nav flex-column mb-sm-4 mb-2">
                            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" href="mailto:malambuletrading@gmail.com"><i class="fi-mail mt-n1 me-2 align-middle opacity-70"></i>malambuletrading@gmail.com</a></li>
                            <li class="nav-item"><a class="nav-link p-0 fw-normal" href="tel:+27722595345"><i class="fi-device-mobile mt-n1 me-2 align-middle opacity-70"></i>+27 72 259 5345</a></li>
                        </ul>
                        <div class="pt-2">
                            <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="#"><i class="fi-facebook"></i></a>
                            <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="#"><i class="fi-twitter"></i></a>
                            <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="+27722595345"><i class="fi-whatsapp"></i></a>
                            <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="https://instagram.com/tenant.co"><i class="fi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="mb-sm-0 mb-4 px-2">
                        <h4 class="h5">Quick Links</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" [routerLink]="['/catalog']" [queryParams]="{category: 'Sale'}">Buy a property</a></li>
                            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" [routerLink]="['/catalog/estate/new']">Sell a property</a></li>
                            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" [routerLink]="['/catalog']" [queryParams]="{category: 'Rental'}">Rent a property</a></li>
                        </ul>
                    </div>
                    <div class="px-2">
                        <h4 class="h5">About</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" [routerLink]="['/about']">About Us</a></li>
                            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" [routerLink]="['/about']">Contacts</a></li>
                            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center fs-sm pt-4 mt-3 pb-2">© All rights reserved. Made by <a href="" class="d-inline-block nav-link p-0" target="_blank" rel="noopener">Andy Creative Studio</a></div>

    </div>
</footer>